.dashboard__wrapper {
  &--offline {
    opacity: .5;
  }
}
.dashboard-content-area {
  position: relative;
  padding: var(--spacer-lg);
  padding-top: var(--header-height);
  min-height: calc(100vh - var(--header-height) - var(--footer-height));
}